@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{

  background-color: rgb(83, 80, 80);

}

.title-head{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(189, 168, 168);
}

